# Cache do Python
__pycache__/
*.pyc

# Ambientes virtuais e Configurações
venv/
env/
.env

# Editor de Código
.vscode/
.idea/

# dataset do professor e historicos dos alunos
dataset/
historico_*.csv
historico_*.pdf